<!doctype html>
<html>
  <head>
    <title>
      MovieQuest - Search and Save Your Favorite Movies!
    </title>
    <link rel="stylesheet" type="text/css" href="css/application.css"></link>
    <meta charset="UTF-8"></meta>
  </head>
  <body>
    <div class="header">
      <span>MovieQuest!</span>
      <a onClick="loadFavorites()">See All Favorites</a>
    </div>
    <div class="contentWrap">
      <div class="searchForm">
        <label for="movieName">Search for your favorite film!</label>
        <input type="text" name="movieName" id="movieName" autofocus />
        <button onClick="search()">Search</button>
      </div>

      <div class="searchResults" id="searchResults">
      </div>
    </div>
  </body>
  <footer>
    <script type="text/javascript" src="js/application.js"></script>
  </footer>
</html>
