.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  width: 80%;
  margin: 0 auto;
}

.contentWrap {
  width: 50%;
  margin: 0 auto;
}

.searchForm {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.searchForm * {
  margin-right: 2rem;
}

.movies {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  padding: 2rem;
}

.movies * {
  margin-bottom: 1rem;
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.movieTitle {
  margin-left: .75rem;
  margin-bottom: 1rem;
}

.details {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.detailsList {
  list-style: none;
}
